body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {    
    font-weight: 700;
}
/* Headings  */
.big-heading {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containe  */
.container-fluid {
    padding: 7% 15%;
}




p {
    color: #8F8F8F;
}

/* navigation bar  */
.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 200;
}

/* Title Section  */
#title {
    background-color: #ff4c68;
    color: #ffffff;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 15%;
}
.download-btn {
    margin: 5% 3% 5% 0;
}

.title-img {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* features  */
#features {
    background-color: #ffffff;
    position: relative;
}
.features-title {
    font-size: 1.5rem;
}

.features-icon {
    color: #EF8172;
    font-size: 3.125rem;
}

.features-icon:hover {
    color: #FF4C86;
}

/* testimonial  */
#testimonials {
    background-color: #ff4c68;
    color: #ffffff;   
}

.testimonial-image {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* Press  */
#press {
    background-color: #ff4c68;
    padding-bottom: 3%;
}

.press-logo {
    margin: 20px 20px 50px;
    width: 15%;
}

/* Pricing  */
.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.bg-custom {
    background-color: #ff4c68;
}

.border-custom {
    border-color: #ff4c68;
}

/* btn-custom  */
.btn-custom {
    background-color: #ff4c68 ;
    color: #ffffff;
}

.btn-custom:hover {
    background-color: #ffffff;
    border-color: #ff4c68 ;
    color: #ff4c68 ;
}

.btn-outline-custom {
    border: 2px solid black;
    border-color: #ff4c68;
    background-color: #ffffff;
}

.btn-outline-custom:hover {
    background-color: #ff4c68;
    color: #ffffff;
}

/* CTA */
#cta {
    background-color: #ff4c68 ;
    color: #ffffff;
}

/* footer */
.social-icon {
    margin: 20px 10px;
}

@media (max-width: 1028px) {

    /* Container  */
    .container-fluid {
        padding: 5% 5%;
    }
    
    /* Headings  */
    h1, h2, h3, .features-title, .navbar-brand  {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.5;
    }
    
    h4, em, li, .nav-link, .download-btn, .btn-custom, .btn-outline-custom, .social-icon {
        font-size: 2rem;
    }

    p {
        font-size: 2rem;
        color: #8F8F8F;
    }

    /* Navbar  */
    .navbar-brand {
        font-family: 'Ubuntu', sans-serif;
    }
    .nav-link {
        font-weight: 200;
    }
    .navbar-toggler {
        padding: 2% 2%;
    }
    
    .navbar-toggler-icon {
        width: 60px;
        height: 60px;
    }

    /* Title  */
    #title {
        text-align: center;
    }

    .download-btn {
        width: 280px;
        height: 80px;
    }

    .title-img {
        position: static;
        transform: rotate(0);
        width: 40%;
    }

    #features {        
        padding: 5% 5%;
        background-color: #ffffff;
        position: relative;
    }
    
    .features-box {
        margin: 40px 0;
    }

    .carousel-item, #pricing {
        padding: 4% 10%;
    }

    .col {
        margin: auto;
        width: 80%;
    }

    .card-body {
        height: 450px;
    }

    .btn-custom, .btn-outline-custom {
        width: 280px;
        height: 80px;
    }

    #footer {
        padding: 1% 1%;
    }
}
